<div class="container">
  <div class="page-wrapper">
    <h1>SpaceX Launch Programs</h1>

    <div class="filter-area">
      <h4>Filter</h4>
      <h6>Launch Year</h6>
      <ul>
        <ng-container *ngFor="let lyear of lyears">
          <li><button type="button" (click)="btnClick()" class="fbtn">{{lyear.year}}</button></li>
        </ng-container>
      </ul>
      <h6>Successful Lunch</h6>
      <ul>
        <li><button type="button" class="fbtn">True</button></li>
        <li><button type="button" class="fbtn">False</button></li>
      </ul>
      <h6>Successful Landing</h6>
      <ul>
        <li><button type="button" class="fbtn" (click)="btnClick()" >True</button></li>
        <li><button type="button" class="fbtn">False</button></li>
      </ul>
    </div>

    <div class="cards-area">

      <div class="row">
        <ng-container *ngFor="let space of spacex">
          <div class="col-md-3">
            <div class="cardbox mb-3">
              <div class="imgbox">
                <img src="{{space.links.mission_patch}}" class="img-responsive" alt="">
              </div>
              <h2>{{space.mission_name}} #{{space.flight_number}} </h2>
              <strong> Mission Ids: </strong>
              <ul >
                <li>
                  {{space.mission_id}}
                </li>
              </ul>
              <p><strong>Launch Year:</strong> {{space.launch_year}} <br></p>
              <p><strong>Successful Launch: </strong> {{space.launch_success}} <br></p>
              <p><strong>Successful Landing :</strong> {{space.launch_landing}}</p>
            </div>
          </div>
        </ng-container>
      </div>

    </div>

    <h2 class="copyright text-center">Developed by: {{developerInfo}}</h2>

  </div>

</div>




<router-outlet></router-outlet>