<div class="container">
  <div class="page-wrapper">
    <h1>SpaceX Launch Programs</h1>

    <div class="filter-area">
      <h4>Filter</h4>
      <h6>Launch Year</h6>
      <ul>
        <li><button type="button" class="fbtn">2006</button></li>
        <li><button type="button" class="fbtn">2007</button></li>
        <li><button type="button" class="fbtn">2008</button></li>
        <li><button type="button" class="fbtn">2009</button></li>
        <li><button type="button" class="fbtn">2010</button></li>
        <li><button type="button" class="fbtn">2011</button></li>
        <li><button type="button" class="fbtn">2012</button></li>
        <li><button type="button" class="fbtn">2013</button></li>
        <li><button type="button" class="fbtn">2014</button></li>
        <li><button type="button" class="fbtn">2015</button></li>
        <li><button type="button" class="fbtn">2016</button></li>
        <li><button type="button" class="fbtn">2017</button></li>
        <li><button type="button" class="fbtn">2018</button></li>
        <li><button type="button" class="fbtn">2019</button></li>
        <li><button type="button" class="fbtn">2020</button></li>
      </ul>
      <h6>Successful Lunch</h6>
      <ul>
        <li><button type="button" class="fbtn">True</button></li>
        <li><button type="button" class="fbtn">False</button></li>
      </ul>
      <h6>Successful Landing</h6>
      <ul>
        <li><button type="button" class="fbtn" (click)="btnClick()" >True</button></li>
        <li><button type="button" class="fbtn">False</button></li>
      </ul>
    </div>

    <div class="cards-area">

      <div class="row">
        <ng-container *ngFor="let space of spacex">
          <div class="col-md-3">
            <div class="cardbox">
              <img src="{{space.links.mission_patch}}" alt="">
              <h2>{{space.mission_name}} #{{space.flight_number}} </h2>
              <h3> {{space.name}}</h3>
              <h3> {{space.id}}</h3>
              <strong> Mission Ids: </strong>
              <ul>
                <li>
                  list Mission Ids
                </li>
              </ul>
              <strong>Launch Year:</strong> {{space.launch_year}} <br>
              <strong>Successful Launch: </strong> {{space.launch_success}} <br>
              <strong>Successful Landing :</strong> Launch_landing
            </div>
          </div>
        </ng-container>
      </div>

    </div>

  </div>

  <h2>{{developerInfo}}</h2>

</div>




<router-outlet></router-outlet>